.form {
   width: 363px;
   height: 351px;
   background-color: #FFF;
   border: 1px solid #E9ECEF;
   box-sizing: border-box;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-right: 58px;
}

.input1 {
    background-color: #F8F9FA;
    outline: none;
    width: 314px;
    height: 52px;
    margin-left: 25px;
    border: none;
}

.pDescricao{
    margin-top: 28px;
    color: black;
    width: 57px;
    height: 22px;
    margin-left: 25px;
    font-size: 12px;
}

.pEx {
    color: #868E96;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 12px;
    width: 126px;
    height: 20px;
}

.p6 {
    margin-left: 25px;
    color: black;
    font-size: 12px;
}

.valores {
    margin-left: 25px;
    display: flex;
    justify-content: center;
}


.atualizarLista {
    cursor: pointer;
    background-color: #FD377E;
    width: 314px;
    height: 48px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    margin-left: 25px;
    border: none;
    margin-bottom: 40px;
}

.input2 {
    outline: none;
    width: 128px;
    height: 48px;
    border-radius: 8px;
    background-color: #F8F9FA;
    border: none;
    margin-left: 25px;
}

select {
    margin-bottom: 12px;
    margin-left: 36px;
    margin-right: 24px;
    color: #868E96;
    width: 150px;
    height: 48px;
    border: none;
    background-color: #F8F9FA;
    outline: none;
}

.pValor {
    text-align: left;
}

.pValor p {
    height: 22px;
    color: #212529;
    font-size: 12px;
}

.teste {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    .form{
        width: 300px;
        margin: 0;
    }

    .input1 {
        width: 250px;
    }

    .input2 {
        width: 80px;
        margin: 0px;
        margin-left: 3px;
    }

    .select {
        width: 80px;
    }

    .valores {
        justify-content: space-around;
    }

    .atualizarLista {
        width: 200px;
        margin: 0;
    }

    .p6{
        margin: 0;
    }

    .form {
        margin-bottom: 20px;
    }
}