.valorT {
    display: flex;
    justify-content: space-between;
    width: 363px;
    height: 96px;
    align-items: center;
    margin-top: 16px;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    margin-right: 60px;
}

.paragrafos {
    margin-left: 24px;
}

.valor {
    margin-right: 24px;
    color: #FD377E;
    font-size: 16px;
}

.p1 {
    color: #212529;
    width: 84px;
    height: 30px;
    font-size: 16px;
}

.p2 {
    color: #868E96;
    width: 155px;
    height: 22px;
    font-size: 12px;
}

@media (max-width: 600px){
    .valorT{
        margin: 0;
        width: 300px;
    }
}